redis: redis-server
web: python manage.py runserver_plus
# web: gunicorn <%= project_name %>.wsgi
pg: postgres -D tmp/postgres -p 5432
worker: celery worker -A <%= project_name %>.celery --loglevel=info --logfile=worker.log -B
