[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "==2.2.4"
graphene-django = "==2.2.0"
django-filter = "==2.0.0"
django-backblazeb2-storage = "*"
django-environ = "*"
django-extensions = "*"
ipython = "*"
ipdb = "*"
Pillow = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
djangorestframework = "*"
redis = "*"
django-debug-toolbar = "*"
django-spa = "*"
django-anymail = "*"
gunicorn = "*"
eventlet = "*"


[dev-packages]

Werkzeug = "*"
honcho = "*"
PyYAML = "*"
jedi = "*"
epc = "*"
nose = "*"
coverage = "*"
flake8 = "*"
snapshottest = "*"


[requires]

python_version = "3.7"


[packages.celery]

editable = true
ref = "master"
git = "https://github.com/celery/celery.git"
