[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.0.4"
"graphene-django" = "==2.0.0"
"django-filter" = "==1.1.0"
"django-backblazeb2-storage" = "*"
django-environ = "*"
django-extensions = "*"
ipython = "*"
ipdb = "*"
Pillow = "*"
celery = "*"
django-cors-headers = "*"
"psycopg2" = "*"
djangorestframework = "*"
redis = "*"
django-debug-toolbar = "*"
django-spa = "*"
django-anymail = "*"
gunicorn = "*"
eventlet = "*"

[dev-packages]
Werkzeug = "*"
honcho = "*"
PyYAML = "*"
jedi = "*"
epc = "*"
nose = "*"
coverage = "*"
"flake8" = "*"
"snapshottest" = "==0.5.0"

[requires]
python_version = "3.6"
